@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Email Confirmation";
    //ViewBag.PageDescription = "Forgot your password?";
}

<div class="row">
    <div class="col-md-8">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>