@model AccountPlugin.Models.ForgotPasswordViewModel
@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Password Recovery";
    ViewBag.PageDescription = "Forgot your password?";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group form-actions">
                <input type="submit" class="btn btn-primary" value="Send Email Link" />
            </div>
        }
    </div>
</div>