@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Password Recovery Confirmation";
    //ViewBag.PageDescription = "Forgot your password?";
}

<div class="row">
    <div class="col-md-8">
         Please check your email to reset your password.
    </div>
</div>

