@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Password Reset Confirmation";
    //ViewBag.PageDescription = "Forgot your password?";
}

<div class="row">
    <div class="col-md-8">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
